/*===========================================*/
/* Colors */
/*===========================================*/
$primary: #ff6464;
$primaryShade1: #e65a5a;

$secondary: #2d3e74;
$dark: #00031a;
$darkOverlay: rgb(28, 36, 42, 0.95);
$darkOverlay2: rgb(28, 36, 42, 0.6);
$mainOverlay: rgba(187, 156, 102, 0.97);
$light: #c6e1f9;
$lightOverlay: rgba(198, 225, 249, 0.98);
/*===========================================*/
// Text
/*===========================================*/
$headerText: #fff;
$linkHover: #4541ff;
