/*===========================================*/
/* Colors */
/*===========================================*/
$primary: #ff6464;
$primaryShade1: #e65a5a;

$dark2: #332f3d;
$dark: #26232c;
$active: #c3dd4f;
$darkOverlay: rgba(38, 35, 44, 0.95);
$darkOverlay2: rgba(51, 47, 61, 0.6);
$formOverlay: rgba(38, 35, 44, 0.1);
$light: #c6e1f9;
$lightOverlay: rgba(198, 225, 249, 0.98);

$invisibleColor: rgba(255, 255, 255, 0);
/*===========================================*/
// Text
/*===========================================*/
$white: #fff;
$linkHover: #4541ff;
