@use "maps";
@use "variables" as v;

@mixin background($image: #fff) {
    @if type-of($image) == string {
        background-image: url($image);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
    }
    @if type-of($image) == color {
        background-color: $image;
    }
    // 144rem;
}

// To quickly centre a block element without having to worry about if there is any top or bottom margin already applied.

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

// center a block vertically
@mixin vertical-center {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

// A massive time saver! You can just use pixel values but we have some default breakpoints setup that work too, another time saver while keeping your breakpoints consistent.

// v.$bps: (
//     "phone": 400px,
//     "phone-wide": 480px,
//     "phablet": 560px,
//     "tablet-small": 640px,
//     "tablet": 768px,
//     "tablet-wide": 1024px,
//     "desktop": 1248px,
//     "desktop-wide": 1440px,
// );

@mixin mq($width, $type: min) {
    @if map_has_key(v.$bps, $width) {
        $width: calc(map_get(v.$bps, $width));
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin responsive-image($curwidth: 32rem) {
    // $curwidth - original mobile width

    max-width: $curwidth;
    img {
        object-fit: scale-down;
        object-position: 0 0;
    }
}

@mixin switch-layout(
    // starting width - rem
    $starting-width: 10,
    // starting height - rem
    $starting-height: 10,
    $layout: mobile
) {
    $aspect-ratio: calc($starting-height / $starting-width);

    // -------------------------
    // mobile layout
    // -------------------------
    @if ($layout == mobile) {
        $index: calc($starting-width / $phoneRem);

        @media (width <= 400px) {
            //400px
            $curwidth: calc($phoneRem * $index);
            width: $curwidth + rem;
            height: calc($curwidth * $aspect-ratio) + rem;
        }
        @include mq(phone) {
            //400px
            width: $starting-width + rem;
            height: calc($starting-width * $aspect-ratio) + rem;
        }
    } @else if ($layout == desktop) {
        // -------------------------
        // desktop layout
        // -------------------------
        $index: calc($starting-width / $desktopRem);
        @media (width >= 1248px) {
            //1440px
            $curwidth: calc($desktop-wideRem * $index);
            width: $curwidth + rem;
            height: $curwidth * $aspect-ratio + rem;
        }

        @include mq(desktop, max) {
            //1248px
            $curwidth: calc($desktopRem * $index);
            width: $curwidth + rem;
            height: calc($curwidth * $aspect-ratio) + rem;
        }
        @include mq(tablet-wide, max) {
            //1024px
            $curwidth: $starting-width;
            max-width: $curwidth + rem;
            max-height: $starting-height + rem;
        }
    }
}
