@use "maps";
@use "colors" as c;
/*===========================================*/
// Variables
/*===========================================*/
$bps: maps.$breakpoints;
$main-content-container: 1140;
/*===========================*/
// Default font-family
$fontFamily: "Raleway";
/*===========================*/
$headerBg: rgba(255, 255, 255, 0);
$footerBg: rgba(255, 255, 255, 0);
// $headerBg: c.$primary;
// $footerBg: c.$secondary;
// $headerBg: "../img/header-bg.jpg";
// $footerBg: "../img/footer-bg.jpg";
