@use "maps";
@use "colors" as c;
/*===========================================*/
// Variables
/*===========================================*/
$bps: maps.$breakpoints;
$main-content-container: 1140;

/*===========================*/
$headerBg: c.$invisibleColor;
$footerBg: c.$invisibleColor;
// $headerBg: c.$primary;
// $footerBg: c.$secondary;
// $headerBg: "../img/header-bg.jpg";
// $footerBg: "../img/footer-bg.jpg";
