@use "partials" as p;

.chat {
    position: relative;
    overflow: visible;

    &-dark {
        &__container-full {
            padding: 4rem 0rem;
            margin: 0 (p.$margin-negative);
            @include p.background(p.$dark);
        }

        &__form {
            @include p.centered;
        }
    }

    &__container-full {
        padding: 4rem 0rem;
        margin: 0 (p.$margin-negative);
        @include p.background(p.$active);
    }

    &__form {
        @include p.centered;
    }
}

.work-chat {
    padding: 10rem 0rem;
}
