/*===========================================*/
/* Colors */
/*===========================================*/
$cPrimary: #ff6464;
$cSecondary: #00a8cc;
$cDark: #21243d;
$cLight: #8695a4;
/*===========================================*/
