@import "fonts", "colors";

/*===========================================*/
// Variables
/*===========================================*/
$minWidth: 320px;
$maxWidth: 1152;
// Main content area width
$maxWidthContainer: 856;
// Header menu width
$headerMaxWidth: 1032;

// =======================
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 768;
$md4: 480;
/*===========================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(134, 149, 164, 0.5);
}

html {
    /* decreases default root element font size to 10px from 16px */
    // font-size: 62.5%;

    font-size: calc(10 / 16) * 100% !important;

    // @media (max-width: ($md2+px)) {
    //     font-size: calc(11 / 16) * 100%;
    // }
    @media (max-width: ($md1 + px)) {
        font-size: calc(10 / 16) * 100% !important;
    }
    @media (max-width: ($md3+px)) {
        font-size: calc(9 / 16) * 100% !important;
    }
    @media (max-width: ($md4+px)) {
        font-size: calc(8 / 16) * 100% !important;
    }
}

// Default font-family
$fontFamily: "Heebo";

body {
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    font-family: $fontFamily, sans-serif;
    line-height: 1;
    font-weight: 400;
    color: $cDark;
}

/*===========================================*/

/*===========================================*/
// Text styles
._text {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

/*===========================================*/
// Default styling classes
._centered {
    margin: 0 auto;
}

._full-width {
    align-self: stretch;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;

    flex-direction: column;
    align-items: center;

    // &._loaded {
    // }
}

// Main adaptive container
._container {
    max-width: $maxWidthContainer + px;

    @media (max-width: ($md1 + px)) {
        max-width: $maxWidthContainer + px;
    }
    // @media (max-width: ($maxWidth+px)) {
    //     max-width: 970px;
    // }
    @media (max-width: ($md2+px)) {
        max-width: 768px;
    }
    @media (max-width: ($md3+px)) {
        max-width: $md4 + px;
    }
    @media (max-width: ($md4+px)) {
        padding: 0 10px;
    }
}
/*===========================================*/

/*===========================================*/
/*===========================================*/
/*===========================================*/
/*===========================================*/
