@import "fonts", "colors", "mixins";

/*===========================================*/
// Variables
/*===========================================*/
$min-width: 320px;
$wrapper: 1152;
$main-content-container: 1057;

// =======================
// =======================
// Breakpoints
$breakpoints: (
    "phone": 400px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "tablet-wide": 1024px,
    "desktop": 1248px,
    "desktop-wide": 1440px,
);
// 40
$phoneRem: calc(map_get($breakpoints, phone) / 10 / 1px);
// 48
$phone-wideRem: calc(map_get($breakpoints, phone-wide) / 10 / 1px);
// 56
$phabletRem: calc(map_get($breakpoints, phablet) / 10 / 1px);
// 64
$tablet-smallRem: calc(map_get($breakpoints, tablet-small) / 10 / 1px);
// 76.8
$tabletRem: calc(map_get($breakpoints, tablet) / 10 / 1px);
// 102.4
$tablet-wideRem: calc(map_get($breakpoints, tablet-wide) / 10 / 1px);
// 124.8
$desktopRem: calc(map_get($breakpoints, desktop) / 10 / 1px);
// 144
$desktop-wideRem: calc(map_get($breakpoints, desktop-wide) / 10 / 1px);

// Use this to get a value from this map
// map-get($breakpoints, "phone");
/*===========================================*/
//  Imports
/*===========================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.7rem rgba(134, 149, 164, 0.5);
}

html {
    /* decreases default root element font size to 10px from 16px */
    // font-size: 62.5%;

    font-size: calc(10 / 16) * 100% !important;

    // @media (max-width: ($md2+px)) {
    //     font-size: calc(11 / 16) * 100%;
    // }
    @media (max-width: ($desktopRem*10 + px)) {
        font-size: calc(10 / 16) * 100% !important;
    }
    @media (max-width: ($tablet-wideRem*10 + px)) {
        font-size: calc(8.5 / 16) * 100% !important;
    }
    @media (max-width: ($tabletRem*10+px)) {
        font-size: calc(7.5 / 16) * 100% !important;
    }
    @media (max-width: ($phone-wideRem+px)) {
        font-size: calc(6.5 / 16) * 100% !important;
    }
    @media (max-width: ($phoneRem+px)) {
        font-size: calc(6 / 16) * 100% !important;
    }
}

// Default font-family
$fontFamily: "Rubik";

body {
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    font-family: $fontFamily, sans-serif;
    line-height: 1;
    font-size: 1.2rem;
    font-weight: 400;
    color: $cDark;
}

/*===========================================*/

/*===========================================*/
// Text styles
._text {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

/*===========================================*/
// Default styling classes
._centered {
    margin: 0 auto;
}

._full-width {
    align-self: stretch;
}

%full-width-flex {
    align-self: stretch;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    gap: 8rem;
}

%btn {
    display: inline-block;
    font-family: "Raleway";
    font-weight: 800;
    font-size: 1rem;
    padding: 1.5rem 2.8rem;
    border-radius: 5px;
    letter-spacing: 0.14em;
}

main {
    flex: 1 1 auto;
}

// adaptive image
._adaptive {
    width: 100%;
    height: 100%;
    object-position: 0 0;
    object-fit: cover;
}

// Main adaptive container
._container {
    @extend %container-current;
}
/*===========================================*/
// Container current
/*===========================================*/
%container-current {
    $ratio: 1;
    padding: 0 1.5rem;
    $curwidth: calc($main-content-container / 10);
    // ---------------------------

    @media (width >= ($desktopRem*10-1+px)) {
        max-width: calc($curwidth * $ratio) + rem;
    }

    @include mq(desktop, max) {
        max-width: calc($curwidth * $ratio) + rem;
    }
    @include mq(tablet-wide, max) {
        //1024px
        max-width: calc($tablet-wideRem * $ratio) + rem;
    }
    @include mq(tablet, max) {
        //768px
        max-width: calc($tabletRem * $ratio) + rem;
    }
    @include mq(tablet-small, max) {
        //640px
        max-width: calc($tablet-smallRem * $ratio) + rem;
    }
    @include mq(phablet, max) {
        //560px
        max-width: calc($phabletRem * $ratio + 16) + rem;
    }
    @include mq(phone-wide, max) {
        //480px
        max-width: calc($phone-wideRem * $ratio + 16) + rem;
    }
    @include mq(phone, max) {
        //400px
        max-width: calc($phoneRem * $ratio + 16) + rem;
    }
    @media (width <= 380px) {
        // padding: 0;
        // margin: 0;
    }
}
/*===========================================*/
%main-adaptive-grid {
    @include mq(phone) {
        //400px
    }
    @include mq(phone-wide) {
        //480px
        min-width: calc($phone-wideRem * $main-content-container/ $phoneRem) +
            rem;
    }
    @include mq(phablet) {
        //560px
        min-width: calc($phabletRem * $main-content-container/ $phoneRem) + rem;
    }
    @include mq(tablet-small) {
        //640px
        min-width: calc($tablet-smallRem * $main-content-container/ $phoneRem) +
            rem;
    }
    @include mq(tablet) {
        //768px
        min-width: calc($tabletRem * $main-content-container/ $phoneRem) + rem;
    }
    @include mq(tablet-wide) {
        //1024px
        min-width: calc($tablet-wideRem * $main-content-container/ $phoneRem) +
            rem;
    }
    @include mq(desktop) {
        //1248px
        min-width: calc($desktopRem * $main-content-container/ $phoneRem) + rem;
    }
    @include mq(desktop-wide) {
        //1440px
        min-width: calc($desktop-wideRem * $main-content-container/ $phoneRem) +
            rem;
    }
}
/*===========================================*/
%main-adaptive-grid-desktop {
    $ratio: 1;
    // ---------------------------
    @media (width >= 1440px) {
    }
    @media (width >= 1660px) {
    }
    @media (width >= 1860px) {
    }
    // ---------------------------
    @include mq(desktop-wide, max) {
        //1440px
    }
    @include mq(desktop, max) {
        //1248px
        max-width: calc($desktopRem * $ratio) + rem;
    }
    @include mq(tablet-wide, max) {
        //1024px
        max-width: calc($tablet-wideRem * $ratio) + rem;
    }
    @include mq(tablet, max) {
        //768px
        max-width: calc($tabletRem * $ratio) + rem;
    }
    @include mq(tablet-small, max) {
        //640px
        max-width: calc($tablet-smallRem * $ratio) + rem;
    }
    @include mq(phablet, max) {
        //560px
        max-width: calc($phabletRem * $ratio + 16) + rem;
    }
    @include mq(phone-wide, max) {
        //480px
        max-width: calc($phone-wideRem * $ratio + 16) + rem;
    }
    @include mq(phone, max) {
        //400px
        max-width: calc($phoneRem * $ratio + 16) + rem;
    }
    @media (width <= 380px) {
        // padding: 0;
        // margin: 0;
    }
}
/*===========================================*/
/*===========================================*/
/*===========================================*/
