/*===========================================*/
//  Imports
/*===========================================*/
@use "partials" as p;

/*===========================================*/
// Initialize
/*===========================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.7rem rgba(134, 149, 164, 0.5);
}

html {
    /* decreases default root element font size to 10px from 16px */
    // font-size: 62.5%;

    font-size: calc(10 / 16) * 100% !important;

    @include p.mq(desktop, max) {
        font-size: calc(10 / 16) * 100% !important;
    }
    @include p.mq(tablet-wide, max) {
        font-size: calc(8.5 / 16) * 100% !important;
    }
    @include p.mq(tablet, max) {
        font-size: calc(7.5 / 16) * 100% !important;
    }
    @include p.mq(phone-wide, max) {
        font-size: calc(6.5 / 16) * 100% !important;
    }
    @include p.mq(phone, max) {
        font-size: calc(6 / 16) * 100% !important;
    }
}

body {
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    font-family: p.$fontFamily, sans-serif;
    line-height: 1;
    font-size: 1.2rem;
    font-weight: 400;
    color: p.$dark;
}

// Main adaptive container
._container {
    /*===========================================*/
    // Container current
    /*===========================================*/
    padding: 0 2rem;
    $w: p.$main-content-container + px;

    // @media (width > map_get($bps, "desktop-wide")){
    //     // 1440px
    //     max-width: map_get($bps, "desktop-wide");
    // }

    // @include p.mq(desktop-wide, max) {
    //     //1248px
    //     max-width: map_get($bps, "desktop");
    // }

    /*===this=media=query=must=always=be=ontop===*/
    @media (width > $w) {
        // 1144px
        max-width: $w;
    }
    /*===========================================*/

    @include p.mq(desktop, max) {
        //1024px
        max-width: map_get(p.$bps, "tablet-wide");
    }

    @include p.mq(tablet-wide, max) {
        //768px
        max-width: map_get(p.$bps, "tablet");
    }

    @include p.mq(tablet, max) {
        //640px
        max-width: map_get(p.$bps, "tablet-small");
    }

    @include p.mq(tablet-small, max) {
        //560px
        max-width: map_get(p.$bps, "phablet");
    }

    @include p.mq(phablet, max) {
        //480px
        max-width: map_get(p.$bps, "phone-wide");
    }
    @include p.mq(phone-wide, max) {
        //400px
        max-width: map_get(p.$bps, "phone");
    }
    @media (width <= 380px) {
        // padding: 0;
        // margin: 0;
    }
    /*===========================================*/
}
