@font-face {
                font-family: georgia;
                font-display: swap;
                src: url("../fonts/georgia.woff2") format("woff2"),url("../fonts/georgia");
                font-weight: 400;
                font-style: normal;
                }
@font-face {
                font-family: georgiab;
                font-display: swap;
                src: url("../fonts/georgiab.woff2") format("woff2"),url("../fonts/georgiab");
                font-weight: 400;
                font-style: normal;
                }
@font-face {
                font-family: georgiai;
                font-display: swap;
                src: url("../fonts/georgiai.woff2") format("woff2"),url("../fonts/georgiai");
                font-weight: 400;
                font-style: normal;
                }
@font-face {
                font-family: georgiaz;
                font-display: swap;
                src: url("../fonts/georgiaz.woff2") format("woff2"),url("../fonts/georgiaz");
                font-weight: 400;
                font-style: normal;
                }
