footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    display: flex;
    gap: 3.5rem;
    padding-bottom: 2.6rem;
}

.footer-rights {
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    padding-bottom: 5.4rem;
}
