@use "partials" as p;

.contact-form {
    @include p.background(p.$active);
    padding: 10rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;

    &.__dark {
        @include p.background(p.$dark);
        padding: 0rem 0rem;
    }

    @include p.mq(desktop, max) {
        border-radius: 3rem;
    }

    @include p.mq(tablet-wide, max) {
        height: 100%;
        gap: 1rem;
        padding: 9rem 0rem;
    }
}
.c-f {
    // .c-f__header

    &__header {
        @include p.form-header;
        padding-bottom: 3rem;

        &.__dark {
            color: p.$white;
        }

        @include p.mq(tablet-wide, max) {
            text-align: center;
        }
    }

    // .c-f__form

    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    // .c-f__row

    &__row {
        display: flex;
        gap: 1.5rem;
        justify-content: center;

        &.__blog {
            display: block;
        }

        @include p.mq(tablet-wide, max) {
            flex-direction: column;
            gap: 2rem;
            align-items: center;
        }
    }

    // .c-f__input

    &__input {
        display: flex;
        flex-direction: column;
    }

    // .c-f__input-field

    &__input-field {
        width: 30.5rem;
        height: 5rem;
        border: 0.5px solid p.$dark;
        @include p.background(p.$active);
        @include p.text-light;
        color: p.$dark;

        &.__dark {
            color: p.$white;
            border: 0.5px solid p.$white;
            @include p.background(p.$formOverlay2);
        }
    }

    // .c-f__label

    &__label {
        @include p.form-text-dark;
        padding-bottom: 0.5rem;

        &.__dark {
            @include p.form-text-light;
        }
    }

    // .c-f__input-container

    &__input-container {
        width: 30.5rem;
        height: 5rem;
        position: relative;

        &.__area {
            width: 100%;
            height: 100%;
        }

        &.__blog {
            width: 100%;
        }
    }

    // .c-f__input-wrapper

    &__input-overlay {
        @include p.overlay(p.$formOverlay);

        &.__dark {
            @include p.overlay(p.$formOverlay2);
        }
    }

    // .c-f__input-area

    &__input-area {
        z-index: 0;
        width: 62.5rem;
        height: 14.5rem;
        border: 0.5px solid p.$dark;
        resize: none;
        @include p.background(p.$active);
        @include p.text-light;
        color: p.$dark;

        &.__dark {
            border: 0.5px solid p.$white;
            color: p.$white;
            @include p.background(p.$dark);
        }

        &.__blog {
            width: 100%;
        }

        &::before {
            content: "";
            @include p.overlay(p.$formOverlay);
            z-index: 1;
            width: 10rem;
            height: 10rem;
            &.__dark {
                @include p.overlay(p.$formOverlay2);
            }
        }

        @include p.mq(tablet-wide, max) {
            width: 100%;
            min-width: 37.8rem;
        }
    }

    // .c-f__submit-btn

    &__submit-btn {
        @include p.cta;
        @include p.btn;
        @include p.background(p.$dark);
        color: p.$active;

        &.__dark {
            @include p.background(p.$active);
            color: p.$dark;
            border: 0.5px solid p.$white;
        }
    }
}
.arrow {
}
.text-common {
    // .text-common__dark

    &__dark {
    }
}
