@use "partials" as p;

.contact-form {
    @include p.background(p.$active);
    padding: 10rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;

    @include p.mq(desktop, max) {
        border-radius: 3rem;
    }

    @include p.mq(tablet-wide, max) {
        height: 100%;
        gap: 1rem;
        padding: 9rem 0rem;
    }
}
.c-f {
    // .c-f__header

    &__header {
        @include p.form-header;
        padding-bottom: 3rem;
    }

    // .c-f__form

    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    // .c-f__row

    &__row {
        display: flex;
        gap: 1.5rem;
        justify-content: center;

        @include p.mq(tablet-wide, max) {
            flex-direction: column;
            gap: 2rem;
            align-items: center;
        }
    }

    // .c-f__input

    &__input {
        display: flex;
        flex-direction: column;
    }

    // .c-f__input-field

    &__input-field {
        width: 30.5rem;
        height: 5rem;
        border: 0.5px solid p.$dark;
        @include p.background(p.$active);
    }

    // .c-f__label

    &__label {
        @include p.form-text-dark;
        padding-bottom: 0.5rem;
    }

    // .c-f__input-container

    &__input-container {
        width: 30.5rem;
        height: 5rem;
        position: relative;

        &.__area {
            width: 100%;
            height: 100%;
        }
    }

    // .c-f__input-wrapper

    &__input-overlay {
        @include p.overlay(p.$formOverlay);
    }

    // .c-f__input-area

    &__input-area {
        z-index: 0;
        width: 62.5rem;
        height: 14.5rem;
        border: 0.5px solid p.$dark;
        @include p.background(p.$active);
        resize: none;

        &::before {
            content: "";
            @include p.overlay(p.$formOverlay);
            z-index: 1;
            width: 10rem;
            height: 10rem;
            // @include p.background(p.$formOverlay);
        }

        @include p.mq(tablet-wide, max) {
            width: 100%;
            min-width: 37.8rem;
        }
    }

    // .c-f__submit-btn

    &__submit-btn {
        @include p.cta;
        @include p.btn;
        @include p.background(p.$dark);
        color: p.$active;
        // font-family: p.$fontByDefault;
    }
}
.arrow {
}
.text-common {
    // .text-common__dark

    &__dark {
    }
}
