@use "partials" as p;

.hero {
    display: flex;
    flex-direction: column;
    gap: 8rem;

    @include p.mq(tablet, max) {
        gap: 0rem;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include p.mq(tablet, max) {
        justify-content: flex-start;
        position: relative;
    }

    // .header__logo

    &__logo {
        padding: 4.4rem 0rem;

        @include p.mq(tablet, max) {
            @include p.center-absolute;
        }
    }

    // .header__menu

    &__menu {
        padding: 3.1rem 8rem;
        background-color: p.$dark2;

        @include p.mq(tablet, max) {
            align-self: flex-start;
            background-color: p.$dark;
            padding: 8rem;
        }
    }
}
.h-l {
    // .h-l__link

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:link,
        &:visited {
        }
        &:hover,
        &:active {
            cursor: pointer;
        }
    }

    // .h-l__logo-img

    &__logo-img {
    }

    // .h-l__text

    &__text {
        @extend %logo-text;
    }
}

.menu {
    // .menu__icon

    &__icon {
        position: relative;
        display: none;
        transform: scale(2.5);

        @include p.mq(tablet, max) {
            display: block;
            width: 4.2rem;
            height: 1.12rem;
            z-index: 10;
            cursor: pointer;
            span {
                transition: all 0.3s ease 0s;
                top: -0.5rem;
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: p.$active;
                &:first-child {
                    top: 1px;
                }
                &:last-child {
                    top: auto;
                    bottom: 0;
                }
            }
        }
        &._active {
            span {
                z-index: 10;
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }

    // .menu__body

    &__body {
        display: block;
        @include p.mq(tablet, max) {
            display: flex;
            transform: translateY(-100%);
            padding: 9rem;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            align-items: center;
            justify-content: center;
            background-color: p.$darkOverlay;
            z-index: 3;
            transition: all 0.4s ease-out;
            overflow: auto;

            &._active {
                transform: translateY(0);
            }
        }
    }

    // .menu__list

    &__list {
        width: 100%;
        display: flex;
        gap: 6rem;

        &._active {
            display: flex;
            flex-direction: column;
            align-items: center;
            .menu__link {
                &.logo {
                    margin: 0;
                    .link__text {
                        font-size: 15rem;
                    }
                }

                .link__text {
                    font-size: 12rem;
                    text-transform: uppercase;
                }
            }
        }

        .logo {
            margin-right: auto;
            .link__text {
                font-weight: 700;
                filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
            }
        }

        @include p.mq(tablet max) {
            align-items: center;
            flex-direction: column;
        }
    }

    // .menu__link

    &__link a {
        @extend %top-menu-text;

        &:link,
        &:visited {
            color: p.$white;
            transition: color 0.3s;
            // transition: box-shadow 0.1s;
        }
        &:hover,
        &:active {
            color: p.$active;
            box-shadow: 0rem 2.8rem p.$dark2, 0rem 3.1rem p.$active;
        }
    }
}
.icon-menu {
}

.hero {
    // .hero__article

    &__article {
        display: flex;
        gap: 12.9rem;

        @include p.mq(tablet-wide, max) {
            flex-direction: column;
            gap: 2rem;
            position: relative;
        }

        @include p.mq(tablet, max) {
            align-items: center;
            justify-content: center;
        }
    }

    // .hero__contact

    &__contact {
        flex: 1 0 42.6rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 3.5rem;

        padding-top: 2.5rem;

        @include p.mq(tablet-wide, max) {
            position: absolute;
            padding: 8rem;
            z-index: 2;
            width: 80%;
        }

        @include p.mq(tablet, max) {
            text-align: center;
            align-items: center;
            padding: 0rem;
        }

        @include p.mq(tablet-small, max) {
            justify-content: center;
        }
    }

    // .hero__header

    &__header {
        @extend %hero-header;
    }

    // .hero__header
    &__header-br {
        display: none;

        @include p.mq(tablet, max) {
            display: inline;
        }
    }

    // .hero__text

    &__text {
        @extend %hero-text;
    }

    // .hero__cta

    &__cta {
        @extend %cta;
        @extend %btn;
    }

    // .hero__overlay

    &__overlay {
        @extend %overlay;
        display: none;
        @include p.mq(tablet-wide, max) {
            display: block;
            position: absolute;
            z-index: 1;
        }
    }

    // .hero__image

    &__image {
        position: relative;
        z-index: 0;
        display: flex;
        justify-content: center;
        img {
            position: relative;
            z-index: 0;

            @include p.mq(tablet, max) {
                @include p.adaptive;
            }
        }
    }
}

/*
Burger menu styles

.icon-menu {
    display: none;
    @media (max-width: map_get(d.$bps, "tablet")) {
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 1rem;
        width: 3rem;
        height: 1.8rem;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:first-child {
                top: 0;
            }
            &:last-child {
                top: auto;
                bottom: 0;
            }
            &._active {
                span {
                    transform: scale(0);
                    &:first-child {
                        transform: rotate(-45deg);
                        top: calc(50% - 1px);
                    }
                    &:last-child {
                        transform: rotate(45deg);
                        bottom: calc(50% - 1px);
                    }
                }
            }
        }
    }
}


*/
