.header {
    // .header__menu

    &__menu {
        padding: 0 1rem;
        display: inline-flex;
        @media (max-width: ($tabletRem*10+px)) {
            height: 5rem;
        }
        @extend %header-template;
    }
}
.menu {
    // .menu__icon

    &__icon {
        display: none;
        // @extend %header-template;
        @media (max-width: ($tabletRem*10+px)) {
            display: block;
            position: absolute;
            top: -0.5rem;
            right: -1rem;
            width: 3rem;
            height: 0.8rem;
            z-index: 10;
            transform: scale(1.4);
            cursor: pointer;
            span {
                transition: all 0.3s ease 0s;
                top: -0.5rem;
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $cDark;
                &:first-child {
                    top: 0;
                }
                &:last-child {
                    top: auto;
                    bottom: 0;
                }
            }
        }
        &._active {
            span {
                z-index: 10;
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }

    // .menu__body

    &__body {
        @media (max-width: ($tabletRem*10+px)) {
            transform: translateY(-100%);
            padding: 9rem;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $cLightOverlay;
            z-index: 1;
            transition: all 0.4s ease-out;
            overflow: auto;

            &._active {
                transform: translateY(0);
            }
        }
    }

    // .menu__list

    &__list {
        position: relative;
        z-index: 10;
        display: flex;
        gap: 3.3rem;
        align-items: center;
        justify-content: flex-end;
        // width: 100%;
        // height: 100%;
        @media (max-width: ($tabletRem*10+px)) {
            align-items: center;
            flex-direction: column;
        }
    }

    // .menu__link

    &__link a {
        @media (max-width: ($tabletRem*10+px)) {
            .link__text {
                font-size: 3.2rem;
            }
        }
        &:link,
        &:visited {
            font-weight: 500;
            font-size: 2rem;
            color: $cDark;
            transition: color 0.3s;
        }
        &:hover,
        &:active {
            font-weight: 500;
            font-size: 2rem;
            color: $cPrimary;
        }
    }
}
.icon-menu {
}

// Header menu style template
%header-template {
    display: block;
    position: absolute;
    top: 3.6rem;
    right: 4rem;
    width: 3rem;
    height: 1.8rem;
    z-index: 10;
}

/*
Burger menu styles

.icon-menu {
    display: none;
    @media (max-width: ($tabletRem*10+rem)) {
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 1rem;
        width: 3rem;
        height: 1.8rem;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:first-child {
                top: 0;
            }
            &:last-child {
                top: auto;
                bottom: 0;
            }
            &._active {
                span {
                    transform: scale(0);
                    &:first-child {
                        transform: rotate(-45deg);
                        top: calc(50% - 1px);
                    }
                    &:last-child {
                        transform: rotate(45deg);
                        bottom: calc(50% - 1px);
                    }
                }
            }
        }
    }
}


*/
