// =====================================================
// Section Greeting
// =====================================================

.greeting {
    // .greeting__container

    &__container {
        padding: 8rem 0 7rem 0;
        // padding-bottom: 7rem;
        display: flex;
        gap: 11rem;
        align-self: center;
        @media (max-width: ($md3+px)) {
            padding-top: 0;
            flex-direction: column;
            gap: 1.8rem;
        }
    }

    // .greeting__article

    &__article {
        padding-top: 6rem;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        gap: 3.1rem;
        @media (max-width: ($md3+px)) {
            padding: 0 1.4rem;
            align-items: center;
            gap: 2rem;
        }
    }

    // .greeting__author-avatar

    &__author-avatar {
        padding-top: 4.4rem;
        @media (max-width: ($md3+px)) {
            padding-top: 3.6rem;
            order: -1;
            align-self: center;
        }
        position: relative;
        // padding: 0 0 2rem 2rem;
    }
}
.avatar {
    width: 24rem;
    height: 24rem;
    object-fit: none;
    border: none;
    border-radius: 50%;
    box-shadow: -0.4rem 1.1rem 0 0 #edf7fa;
    @media (max-width: ($md3+px)) {
        transform: scale(0.8);
    }

    position: relative;
    z-index: 0;
}

.article {
    // .article__header

    &__header {
        @media (max-width: ($md3+px)) {
            text-align: center;
            line-height: 5.5rem;
        }
        font-weight: 700;
        font-size: 4.4rem;
        line-height: 6rem;
    }

    // .article__text

    &__text {
        max-width: 49.7rem;

        @media (max-width: ($md3+px)) {
            text-align: center;
            padding-bottom: 1rem;
        }
    }

    // .article__link

    &__link {
        &:link,
        &:visited {
            @media (max-width: (
                        $md3 + px,
                    )) {
                align-self: center;
            }
            align-self: flex-start;
            background-color: $cPrimary;
            cursor: pointer;
            padding: 0.9rem 2.1rem;
            border-radius: 2px;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.9rem;
            color: #fff;
            transition: all 0.4s;
        }
        &:hover,
        &:active {
            background-color: $cPrimaryShade1;
        }
    }
}
// =====================================================
// Section Recent Posts
// =====================================================
.recent-posts {
    // .recent-posts__container
    background-color: #edf7fa;
    &__container {
        @media (max-width: ($md3+px)) {
            padding: 0 4rem;
        }
        @media (max-width: ($md4+px)) {
            padding: 0 5rem;
        }
    }

    // .recent-posts__header

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .recent-posts__title

    &__title {
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 6rem;
    }

    // .recent-posts__view-all

    &__view-all {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        transition: color 0.3s;
        &:link,
        &:visited {
            color: #00a8cc;
        }
        &:hover,
        &:active {
            color: #0086a3;
        }
    }

    // .recent-posts__items

    &__items {
        padding-bottom: 3.2rem;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        @media (max-width: ($md3+px)) {
            flex-direction: column;
        }
    }

    // .recent-posts__item

    &__item {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        padding: 2.4rem 2rem 3rem 2.4rem;
        background-color: #fff;
        max-width: 50%;
        border-radius: 4px;
        @media (max-width: ($md3+px)) {
            max-width: 100%;
        }
    }
}

.recent-post {
    transition: all 0.3s;
    &:hover,
    &:active {
        box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    }
    // .recent-post__title
    &__title {
        font-weight: 700;
        font-size: 2.6rem;
        line-height: 3.8rem;
        padding-bottom: 0.8rem;
        transition: color 0.3s;
        &:link,
        &:visited {
            color: $cDark;
        }
        &:hover,
        &:active {
            color: #4d5064;
        }
    }

    // .recent-post__info

    &__info {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.6rem;
        span {
            @media (max-width: 768px) {
                font-size: 20px;
            }

            display: inline-block;
            transform: scale(1, 1.5);
            padding: 0 1.4rem;
            @media (max-width: ($md3+px)) {
                transform: scale(1, 1.1);
                padding: 0 1.1rem;
            }
        }
    }

    // .recent-post__text

    &__text {
    }
}
// =====================================================
// Section Featured Works
// =====================================================
.featured-works {
    padding-bottom: 8.3rem;
    // .featured-works__container

    &__container {
        display: flex;
        flex-direction: column;
        @media (max-width: ($md3+px)) {
        }
        @media (max-width: (300px)) {
        }
    }

    // .featured-works__header

    &__header {
        align-self: center;
    }

    // .featured-works__title

    &__title {
        font-weight: 400;
        font-size: 2.2rem;
        padding: 4rem 0;
    }

    // .featured-works__items

    &__items {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        gap: 3.2rem;
        @media (max-width: ($md3+px)) {
            align-self: flex-start;
            // overflow: auto;
            // flex-direction: row;
            gap: 2.2rem;
            width: 44rem;
        }
    }

    // .featured-works__item

    &__item {
        display: flex;
        flex: 1 1 100%;
        gap: 1.8rem;
        align-items: flex-start;
        padding: 0 3rem;
        padding-bottom: 2.8rem;
        border-bottom: 1px solid #e0e0e0;
        @media (max-width: ($md3+px)) {
            flex-direction: column;
            // width: 33.9rem;
            align-self: center;
            // padding-bottom: 0;
        }
        @media (max-width: ($md4+px)) {
            flex-direction: column;
            // width: 28rem;
            align-self: center;
            // padding-bottom: 0;
        }
    }
}

.featured-work {
    // .featured-work__picture

    &__picture {
    }

    // .featured-work__image

    &__image {
        width: 24.6rem;
        /*
        height: 18rem;
        object-fit: cover;
        border-radius: 1vmin;
        @media (max-width: ($md3+px)) {
            width: 33.9rem;
            height: 23rem;
        }
        @media (max-width: ($md4+px)) {
            object-position: 0 -2rem;
            width: 28rem;
            height: 15rem;
        }

        object-fit: cover;
        */
        @include create-responsive-image(34.4);
        border-radius: 6px;
    }

    // .featured-work__description

    &__description {
        display: flex;
        flex-direction: column;
        gap: 2.7rem;
    }
}
.description {
    // .description__title

    &__title {
        font-weight: 700;
        font-size: 3rem;
        @media (max-width: ($md3+px)) {
            padding-top: 2rem;
        }
    }

    // .description__info

    &__info {
    }

    // .description__year-tag

    &__year-tag {
        display: inline-flex;
        color: #fff;
        padding: 0.5rem 1rem;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 1.8rem;
        background-color: #142850;
        border-radius: 1.6rem;
    }

    // .description__category

    &__category {
        display: inline;
        padding-left: 2.6rem;
        color: #8695a4;
        font-weight: 400;
        font-size: 2rem;
    }

    // .description__text

    &__text {
    }
}
