@use "partials" as p;
.mission {
    padding: 7rem 0rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;

    @include p.mq(tablet-wide, max) {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        text-align: center;
    }

    // .mission__article

    &__article {
        display: flex;
        flex-direction: column;
        width: 45.6rem;

        @include p.mq(tablet-wide, max) {
            width: 71rem;
        }

        @include p.mq(phablet, max) {
            width: 56rem;
        }
    }

    // .mission__image-container

    &__image-container {
        width: 53.6rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include p.mq(tablet-wide, max) {
            width: 71rem;
        }

        @include p.mq(phablet, max) {
            width: 56rem;
        }
        img {
            @include p.adaptive;
        }
    }
}
.m-a {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-top: 6.4rem;

    @include p.mq(tablet-wide, max) {
        gap: 2rem;
        padding-top: 0rem;
    }

    // .m-a__header

    &__header {
        @include p.section-header;
        align-self: flex-start;
    }

    // .m-a__text

    &__text {
        @include p.text-light;
        font-family: p.$source;
    }
}
