@use "colors" as c;

%btn {
    display: inline-block;
    font-weight: 800;
    font-size: 1rem;
    padding: 1.5rem 2.8rem;
    border-radius: 5px;
    letter-spacing: 0.14em;
}

%full-width-flex {
    align-self: stretch;
    display: flex;
    flex: 1 1 100%;
}

%icon-image {
    object-position: center;
    width: 1.8rem;
    height: 1.8rem;
    object-fit: none;
}

%overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 0;
    color: c.$headerText;
}
