@use "defaults" as d;

.stats {
    display: flex;
    gap: 20.5rem;

    @include d.mq(desktop, max) {
        gap: 14rem;
    }

    @include d.mq(tablet-wide, max) {
        gap: 4rem;
    }

    @include d.mq(tablet, max) {
        flex-direction: column;
        align-items: center;
    }

    .s-a {
        // flex: 1 1 42rem;
    }

    // .stats__numbers

    &__numbers {
        @include d.mq(tablet, max) {
            text-align: center;
        }
    }
}
.section {
    // .section__article

    &__article {
    }
}
.s-a {
    // .s-a__title

    &__title {
    }

    // .s-a__header

    &__header {
    }

    // .s-a__text

    &__text {
    }
}
.h-line {
}
.main {
}
.secondary {
}
.text-common {
    // .text-common__dark

    &__dark {
    }
}
.numbers {
    display: flex;
    flex-direction: column;
    flex: 0 1 53.2rem;
    // max-width: 53.2rem;
    gap: 8rem;
    padding-top: 3.55rem;

    // .numbers__data-row

    &__data-row {
        display: flex;
        gap: 5rem;
    }

    // .numbers__data

    &__data {
        max-width: 23.6rem;
    }

    // .numbers__header

    &__header {
        color: #000;
        font-family: Montserrat;
        font-size: 6.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 8.68rem */
    }

    // .numbers__description

    &__description {
        @extend .text-common__dark;
    }
}
