@use "defaults";
@use "header";
@use "hero";
@use "home";
@use "mission";
@use "values";
@use "services";
@use "work";
@use "chat";
@use "latest-blog-posts";
@use "work-details";
@use "testimonials";
@use "clients";
@use "footer";
@use "form";

@use "services-list";

main {
    display: flex;
    flex-direction: column;
    gap: 9rem;
}
