@use "header";
@use "home";
@use "mission";
@use "values";
@use "services";
@use "work";
@use "chat";
@use "footer";
@use "form";

main {
    display: flex;
    flex-direction: column;
    gap: 9rem;
}
