.detail {
    // .detail__container

    &__container {
        padding-top: 14.8rem;
        padding-bottom: 7.7rem;
        display: inline-flex;
        flex-direction: column;
        gap: 3rem;
        @include mq(tablet, max) {
            max-width: 63rem;
        }
        @include mq(tablet-small, max) {
            max-width: 63rem;
        }
        @include mq(phablet, max) {
            //560px
            max-width: ($phabletRem) + rem;
        }
        @include mq(phone-wide, max) {
            //480px
            max-width: ($phone-wideRem) + rem;
        }
        @include mq(phone, max) {
            //400px
            max-width: ($phoneRem) + rem;
        }
        @media (width <= 380px) {
            // padding: 0;
            // margin: 0;
        }
    }

    // .detail__title

    &__title {
        font-weight: 700;
        font-size: 3.4rem;
        line-height: 5rem;
        padding-bottom: 1rem;
        max-width: 42.5rem;
    }

    // .detail__info

    &__info {
    }

    // .detail__year-tag

    &__year-tag {
        display: inline-flex;
        color: #fff;
        padding: 0.3rem 1rem;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 1.8rem;
        background-color: $cPrimary;
        border-radius: 1.6rem;
    }

    // .detail__category

    &__category {
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.9rem;
        display: inline;
        padding: 0 1.7rem;
    }

    // .detail__text

    &__text {
        color: #000;
        padding-bottom: 2.5rem;
        max-width: 61rem;
        // padding-right: 8rem;
    }

    // .detail__picture

    &__picture {
        width: 68.1rem;
    }

    // .detail__image

    &__image {
        $curwidth: 33.9;
        @include create-responsive-image($curwidth);
    }

    // .detail__heading1

    &__heading1 {
        font-weight: 500;
        font-size: 3rem;
        padding: 4rem 0 1.8rem 0;
    }

    // .detail__heading2

    &__heading2 {
        font-weight: 500;
        font-size: 2.4rem;
    }
}

._for-heading {
    padding-bottom: 0;
}
